<ifModule mod_rewrite.c>

Options -Multiviews
RewriteEngine On # controla habilitación del script
RewriteBase /public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

</ifModule> 